body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
}

html,
body {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-content {
  height: 100%;
}

.chat-content {
  border: 5px solid #000;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-footer {
  height: 40px;
  width: 100%;
  background: #f00;
  margin-top: auto;
}